# Ignore built files
.next/
dist/
build/
coverage/

# Ignore dependencies
node_modules/
package-lock.json
package.json

# Ignore Husky hooks
.husky/

# Ignore Prettier configuration
tsconfig.json

CHANGELOG.md